%article#main
  %section.wrapper.style4.container
    .content
      %section
        %header
          %h3= t('.settings')
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal', method: :put }) do |f|

          .form-inputs
            = f.input :email, required: true, autofocus: true, label: false, placeholder: t('email')

            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              %p
                Currently waiting confirmation for:
                = resource.unconfirmed_email

            = f.input :password, autocomplete: "off", required: false, label: false, placeholder: t('.password')
            = f.input :password_confirmation, required: false, label: false, placeholder: t('.repeat_password')
            = f.input :current_password, required: true, label: false, placeholder: t('.current_password')

            %hr

            = f.button :submit, t('.save'), class: "btn btn-default"

          %hr

          = link_to t('.cancel_account'), registration_path(resource_name), class: 'button danger', data: { confirm: t('sure') }, method: :delete

      %hr

      %section
        %header
          %h3= t('.import_export')

          = form_tag import_projects_path, multipart: true, html: { class: 'form-horizontal', method: :post } do
            .form-inputs
              .row
                .col-md
                  = submit_tag t('.import'), class: "btn btn-default"
                .col-md
                  = file_field_tag :file

