/ Banner
%section#banner
  .inner
    %header
      %h2 Planer
    %p
      = t('.banner_text').html_safe
    %footer
      %ul.buttons.vertical
        %li
          %a.button.fit.scrolly{:href => "#main"}= t('.banner_cta')
/ Main
%article#main
  %header.special.container
    %span.icon.fa-calendar-check-o
    %h2
      = t('.main_title').html_safe
    %p
      = t('.main_text').html_safe
  / One
  %section.wrapper.style2.container.special-alt
    .row{:class => "50%"}
      .8u{:class => "12u(narrower)"}
        %header
          %h2
            = t('.one_header').html_safe
        %p
          = t('.one_text').html_safe
        %footer
          %ul.buttons
            %li
              %a.button.scrolly{href: "#sign_up"}= t('.one_cta')
      .4u{:class => "12u(narrower) important(narrower)"}
        %ul.featured-icons
          %li
            %span.icon.fa-clock-o
          %li
            %span.icon.fa-flag-checkered
          %li
            %span.icon.fa-laptop
          %li
            %span.icon.fa-inbox
          %li
            %span.icon.fa-lock
          %li
            %span.icon.fa-thumb-tack
  / Two
  %section.wrapper.style1.container.special
    .row
      .4u{:class => "12u(narrower)"}
        %section
          %span.icon.featured.fa-check
          %header
            %h3= t('.secure')
          %p= t('.secure_text')
      .4u{:class => "12u(narrower)"}
        %section
          %span.icon.featured.fa-check
          %header
            %h3= t('.mobile')
          %p= t('.mobile_text')
      .4u{:class => "12u(narrower)"}
        %section
          %span.icon.featured.fa-check
          %header
            %h3= t('.cool')
          %p= t('.cool_text').html_safe
  / Three
  %section.wrapper.style3.container.special#sign_up{:class => "75%"}
    %header.major
      %h2= t('.three_title').html_safe
    .row
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'sign_up'}) do |f|
        .row
          .12u
            = f.input :email, required: true, placeholder: t('email'), autofocus: true, label: false
        .row
          .12u
            = f.input :password, required: true, placeholder: t('.password'), label: false
        .row
          .12u
            = f.input :password_confirmation, required: true, placeholder: t('.repeat_password'), label: false
        .row
          .12u
            %ul.buttons
              %li
                = f.submit t('sign_up'), class: "special"
/ CTA
%section#cta
  %header
    %h2
      = t('.cta_title').html_safe
    %p= t('.cta_text')
  %footer
    %ul.buttons
      %li
        %a.button.special.scrolly{:href => "#sign_up"}= t('.yess')

