.panel.panel-default{id: "project_panel_#{project.id}"}
  .panel-heading
    %h4.panel-title
      %a{data: {toggle:"collapse", parent: "#main_accordion"}, href: "##{project.id}"}
        = project.name
        = link_to 'X', project, class: "btn btn-xs pull-right", method: :delete, remote: true, data: { confirm: 'Are you sure?' }
        = link_to 'E', edit_project_path(project.id), class: "btn btn-xs pull-right"
  .panel-collapse.collapse{id: "#{project.id}"}
    .panel-body
      = render "subprojects", project: project
