.panel.panel-default{id: "project_panel_#{project.id}"}
  .panel-heading
    %h4.panel-title
      %a{data: {toggle: "collapse", parent: "#main_projects_list"}, href: "##{project.id}"}
        = best_in_place project, :name, { :classes => "best_in_place" }
        = link_to 'X', project, class: "btn btn-xs pull-right", method: :delete, remote: true, data: { confirm: 'Are you sure?' }
  .panel-collapse.collapse{id: "#{project.id}"}
    .panel-body
      = render "subprojects", project: project

