<p><%= "#{t('hi')} #{@resource.email}!" %></p>

<p><%= t('devise.mailer.reset_password_instructions.explain') %></p>

<p><%= link_to t('devise.mailer.reset_password_instructions.change_password'), edit_password_url(@resource, :reset_password_token => @token) %></p>

<p><%= t('devise.mailer.reset_password_instructions.not_you') %></p>
<p><%= t('devise.mailer.reset_password_instructions.access_link') %></p>
