.navbar.navbar-default.navbar-static-top{ role: "navigation" }
  .container
    .navbar-header
      = link_to "Planer", root_path, class: "navbar-brand"
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        - if signed_in?
          %li{ class: menu_class('projects') }= link_to "Projects", projects_path
          %li{ class: menu_class('missions') }= link_to "Missions", missions_path
          %li{ class: menu_class('ideas') }= link_to "Ideas", ideas_path
      %ul.nav.navbar-nav.pull-right
        - if signed_in?
          %li{ class: menu_class('registrations') }= link_to "Settings", edit_user_registration_path
          %li= link_to "Sign out", destroy_user_session_path, data: { method: 'delete' }
        - else
          %li= link_to "Sign in", new_user_session_path
          %li= link_to "Sign up", new_user_registration_path
