%header#header.header
  %h1#logo
    = link_to root_path do
      Planer
      %span by Joanna Rajewska
  %nav#nav
    %ul
      - if signed_in?
        %li{ class: menu_class('projects') }= link_to "Projects", projects_path
        %li{ class: menu_class('missions') }= link_to "Missions", missions_path
        %li{ class: menu_class('ideas') }= link_to "Ideas", ideas_path
        %li{ class: menu_class('problems') }= link_to "Problems", problems_path
        |
        %li{ class: menu_class('registrations') }
          = link_to "Settings", edit_user_registration_path
        %li
          = link_to "Sign out", destroy_user_session_path
      - else
        %li.current
          = link_to 'Welcome', root_path
        %li
          = link_to t('sign_in'), "#", :class => "sign_in_button"
        %li
          = link_to t('sign_up'), root_path + '#sign_up', class: "button special"

= render 'layouts/sign_in_modal' unless signed_in?
