#sign_in_modal.modal.fade{"aria-labelledby" => "sign_in", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      %section.wrapper.style3.container.special#sign_in{:class => "50%"}
        %h2
          Sign in
        .row
          = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'sign_in'}) do |f|
            .row
              .12u
                = f.error_notification
            .row
              .12u
                = f.input :email, required: true, placeholder: 'Email', autofocus: true, label: false
            .row
              .12u
                = f.input :password, required: true, placeholder: 'Password', label: false
            .row
              .12u
                = f.input :remember_me, as: :boolean, wrapper: :inline_checkbox, label: " Remember me" if devise_mapping.rememberable?
                = link_to "Forgot your password?", new_password_path(resource_name), class: 'pull-left'
            .row
              .12u
                %ul.buttons
                  %li
                    = f.submit "Sign in", class: "special"
